.class-infomation {
    .class-header {
        border-bottom: 1px solid #ccc;
        padding: 10px;
        .class-header__title {
            padding: 10px;
        }
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .sidebar {
        height: 100%;
        display: flex;
        flex-direction: column;
        .class-info {
            padding: 16px;
            border: 1px solid #ccc;
        }
        .main-sidebar {
            padding: 16px;
            border: 1px solid #ccc;
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
    .class-content {
        padding: 10px;
        .main-content {
            .content-title {
                text-transform: uppercase;
                padding: 10px;
            }
            .list-schedule {
                .item-schedule {
                    transition: all 0.1s ease-in;
                    padding: 10px;
                    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
                        rgba(0, 0, 0, 0.07) 0px 2px 4px,
                        rgba(0, 0, 0, 0.07) 0px 4px 8px,
                        rgba(0, 0, 0, 0.07) 0px 8px 16px,
                        rgba(0, 0, 0, 0.07) 0px 16px 32px,
                        rgba(0, 0, 0, 0.07) 0px 32px 64px;
                    .title {
                        font-size: 20px;
                    }
                    &:hover {
                        box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
                            rgba(0, 0, 0, 0.05) 0px 5px 10px;
                    }
                }
            }
        }
    }
}
