.meeting {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 700px;
    height: 500px;
    .title {
        margin: 5px 0;
    }
    .comment , .request, .report {
        flex: 1;
        border: 1px solid #ccc;
        border-radius: 20px;
        padding: 10px;
    }
    .report {
        flex: 1.5;
        position: relative;
        .reportButton {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
    }
}
