.homePage {
    .title {
      padding: 10px;
    }
  
    .groupList {
      gap: 20px;
      display: flex;
      padding: 10px;
  
      .group {
        background-color: #f0f0f0;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        
        display: flex;
        justify-content: center;
        height: 140px;
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        .name{
            max-width: 100%;
            max-height: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        &:hover {
          background-color: #ccc;
        }
      }
    }
  }
  