.main-header {
    width: 100%;
    background-color: #aa1d2b;
    display: flex;
    justify-content: space-around;
    .university {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
        margin-top: -10px;
        align-items: center;
        .hust-logo {
            width: 55px;
        }
        .title {
            padding: 10px;
            padding-bottom: 0;
            text-transform: uppercase;
            .title-1 {
                font-weight: 500;
                font-size: 18px;
                color: #fff;
            }
            .title-2 {
                font-size: 15px;
                color: white;
            }
        }
    }
    .info-student {
        display: flex;
        flex-direction: column;
        padding: 15px;
        align-items: flex-end;
        .avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
        }
        .now-schedule {
            color: #fff;
            display: flex;
        }
    }
}
