.login-container {
    background-image: url("https://storage.googleapis.com/hust-files/2021-11-15/5807675312963584/background-new-page_.9m.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    .login {
        transform: translate(-50%, -50%);
        background-color: #fff;
    }
}
