.group-header {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    .class-header__title {
        padding: 10px;
    }
    nav {
        display: flex;
        align-items: center;
        gap: 30px;
    }
}
.group-content {
    padding: 10px;
    .main-content {
        .content-title {
            text-transform: uppercase;
            padding: 10px;
        }
        .list-schedule {
            .item-schedule {
              position: relative; // Xác định vị trí tương đối
              padding: 10px;
              border: 2px solid #3f3f40;
              transition: border-color 0.3s ease;
              background-color: #f7f7f7;
              color: #333;
              border-radius: 8px;
              cursor: pointer;
            
              .title {
                font-size: 20px;
              }
            
              &:hover {
                border-color: #1b86ff;
                background-color: #eaf2ff;
              }

              .corner-text {
                position: absolute; // Định vị tuyệt đối
                top: 10px; // Khoảng cách từ phía trên
                right: 10px; // Khoảng cách từ phía phải
                font-size: 14px;
                color: #888;
              }
            }
        }
          
    }
}
