.overlay {
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    animation: slideIn ease-in-out 0.2s forwards;
    @keyframes slideIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .comment {
        background: #fff;
        border: 1px solid #ccc;
        padding: 20px;
        width: 50%;
        height: 50%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        .title {
            margin-bottom: 20px;
        }
        .content {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;
            .completed {
                flex: 1;
                border: 1px solid #ccc;
                border-radius: 20px;
                padding: 10px;
            }
            .required {
                flex: 1;
                border: 1px solid #ccc;
                border-radius: 20px;
                margin-bottom: 10px;
                padding: 10px;
            }
        }
        .close-btn {
            width: 100px;
            align-self: flex-end;
        }
    }
}
