.report-item {
    padding: 10px;
    min-height: 100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    margin: 10px;
    .title-time {
        margin-bottom: 10px;
    }
    .main-report-item {
        .turn-in {
            border: none;
            background-color: rgba(46, 125, 50, 0.3);
            display: flex;
            align-items: center;
            padding: 4px;
            height: 24px;
            width: 20px;
        }
    }
}
